@using MULE.Models

@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="groupsForm">
            @using (Html.BeginForm("Groups", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <h4>Manage your groups.</h4>
                <hr />
            }
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            @Html.ActionLink("Create a new group", "CreateGroup", "Account")
        </p>
        
    </div>
</div>

@{
    UserManager UM = new UserManager();

    int user_id = UM.getUserId(User.Identity.Name);
    using (muleEntities db = new muleEntities())
    {
        var usergroups =
        (from ug in db.user_group
         join g in db.groups on ug.group_id equals g.group_id
         where ug.user_id == user_id
         select new
         {
             groupID = ug.group_id,
             groupName = g.group_name,
             groupDesc = g.description
         }).ToList();

        foreach (var g in usergroups)
        {
            @:<div class="row">
                @:<div class="col-md-12">
                @:<div class="card">
                    @:<h3>
                        @g.groupName
                    @:</h3>
                    @:<p>
                        @g.groupDesc
                    @:</p>
                    @Html.ActionLink("View Group Page", "Group", "Account", new { g_id = g.groupID }, null)
                    @:|
                    @Html.ActionLink("Leave Group", "Groups", "Account")
                @:</div>
                @:</div>
            @:</div>
        }
        if(usergroups.Count() == 0)
        {
            @:<div class="row">
            @:<div class="col-md-12">
                @:<div class="card">
                    @:<h3>
                        @:You are currently not a member of any groups
                    @:</h3>
                            @:<p>
                                @Html.ActionLink("Find a new group here", "Search", "Account")
                            @:</p>
                 @:</div>
             @:</div>
             @:</div>
        }
    }



}

